doctype html
html
  head
    title Ticket Generation

    script(src="/js/qrcode.min.js" type="text/javascript")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="/css/style.css")

  body
    .header
      if user
        div.profile-container
          img.profile-image(src=JSON.parse(user).picture alt="Profile Picture")
          div.profile-details
            p.profile-name #{JSON.parse(user).name}
            p.profile-email #{JSON.parse(user).email}
            p.profile-sub #{JSON.parse(user).sub}
        button.logout-btn(onclick="location.href='/logout'") Logout
      else
        .user-info Niste prijavljeni

    a(href="/" style="text-decoration: none; color: black;") 
      h1 e-Ulaznice

    h1 Generiranje ulaznice

    div.form-container
      h1 Obrazac ulaznice

      form(id="ticketForm")
        div
          label(for="vatin") VATIN:
          input(type="text" id="vatin" name="vatin" required placeholder="Unesite VATIN" maxlength="11")
        div
          label(for="firstName") Ime:
          input(type="text" id="firstName" name="firstName" required placeholder="Unesite vaše ime")
        div
          label(for="lastName") Prezime:
          input(type="text" id="lastName" name="lastName" required placeholder="Unesite vaše ime")
        div.error(id="errorMessage")

        if user
          div
            button(type="submit") Generiraj
        else
          div
            button(type="button" disabled style="background-color: #ccc; color: #666; cursor: not-allowed;") Prijavite se


    div(class="status" id="statusMessage")

    div(id="qrCodeContainer")

    script.
      document.getElementById('ticketForm').addEventListener('submit', async function(e) {
        e.preventDefault();

        const formData = {
          vatin: document.getElementById('vatin').value.trim(),
          firstName: document.getElementById('firstName').value.trim(),
          lastName: document.getElementById('lastName').value.trim(),
        };
        const errorMessage = document.getElementById('errorMessage');
        console.log("Form data: ", formData)

        const vatinPattern = /^\d{11}$/;
        const alphaPattern = /^[A-Za-z]+$/;

        errorMessage.textContent = '';

        if (!vatinPattern.test(formData.vatin)) {
          errorMessage.textContent = 'VATIN mora biti broj od 11 znamenaka';
          return;
        }

        if (!alphaPattern.test(formData.firstName)) {
          errorMessage.textContent = 'Ime mora sadržavati samo slova.';
          return;
        }

        if (!alphaPattern.test(formData.lastName)) {
          errorMessage.textContent = 'Prezime mora sadržavati samo slova.';
          return;
        }

        try {
          const response = await fetch('/generateTicket', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
          });

          const result = await response.json();
          console.log('Result from server:', result);

          if (response.ok) {
            document.getElementById('statusMessage').textContent = result.message;
            document.getElementById('statusMessage').style.color = 'green';

            document.getElementById('qrCodeContainer').innerHTML = '';

            const ticketId = result.ticketId;
            console.log('Ticket ID for QR Code:', ticketId);

            if (ticketId) {
              console.log('Attempting to generate QR code with ticket ID:', ticketId);
              var qrCodeUrl = "#{baseUrl}/ticket/" + ticketId;
              var qrcode = new QRCode(document.getElementById("qrCodeContainer"), {
                text: qrCodeUrl,
                width: 128,
                height: 128,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
              });

            } else {
              console.error('No ticket ID received for QR code generation.');
              document.getElementById('statusMessage').textContent = 'Nije dohvaćen ID ulaznice.';
              document.getElementById('statusMessage').style.color = 'red';
            }
          } else {
            document.getElementById('statusMessage').textContent = result.error;
            document.getElementById('statusMessage').style.color = 'red';
          }
        } catch (error) {
          console.error('Fetch error:', error); 
          document.getElementById('statusMessage').textContent = 'Dogodila se pogreška. Pokušajte ponovno.';
          document.getElementById('statusMessage').style.color = 'red';
        }
      });
