doctype html
html(lang="en")
    head
        script(src="/js/qrcode.min.js" type="text/javascript")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Ticket Details
        link(rel="icon" href="/favicon.ico" type="image/x-icon")

        style.
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .qr-code {
                margin-top: 20px;
            }
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
            }
            .user-info {
                font-weight: bold;
            }
            .logout-btn {
                background-color: #f44336;
                color: white;
                border: none;
                padding: 10px;
                cursor: pointer;
                border-radius: 5px;
            }
    body

    .header
        if user
            .user-info Hello #{JSON.parse(user).name || JSON.parse(user).sub}!
            button.logout-btn(onclick="location.href='/logout'") Logout
        else
            .user-info You are not logged in
            h1 Ticket Details

            p
                | Name: #{firstName} #{lastName}

            p
                | VATIN: #{vatin}
            p
                | Kupljena: #{timestamp}

            div.qr-code(id="qrCodeContainer")

            script.
                var qrCodeUrl = "#{baseUrl}/ticket/#{ticketId}";

                var qrcode = new QRCode(document.getElementById("qrCodeContainer"), {
                    text: qrCodeUrl,
                    width: 128,
                    height: 128,
                    colorDark : "#000000",
                    colorLight : "#ffffff",
                    correctLevel : QRCode.CorrectLevel.H
                });

