doctype html
html(lang="en")
    head

        title Info o ulaznici | e-Ulaznice

        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="icon" href="/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="/css/style.css")
        script(src="/js/qrcode.min.js" type="text/javascript")

    body
        .header
            if user
                div.profile-container
                    img.profile-image(src=JSON.parse(user).picture alt="Profile Picture")
                    div.profile-details
                        p.profile-name #{JSON.parse(user).name}
                        p.profile-email #{JSON.parse(user).email}
                        p.profile-sub #{JSON.parse(user).sub}
                div.button-container
                    button.frontpage-btn(onclick="window.location.href='/'") Početna
                    button.logout-btn(onclick="location.href='/logout'") Logout
            else
                .user-info Niste prijavljeni
                button.login-btn(onclick="location.href='/login'") Prijava

        h1 Informacije o ulaznici

        if user
            div.ticket
                div.ticket-header Ulaznica

                div.ticket-body
                    div.qr-code(id="qrCodeContainer")

                    div.ticket-separator

                    div.ticket-details
                        div.ticket-info
                            p Ime: #{firstName}
                            p Prezime: #{lastName}
                            p OIB: #{vatin}

                        div.ticket-footer(data-timestamp=timestamp)
                            p Stvorena:

            script.
                var qrCodeUrl = "#{baseUrl}/ticket/#{ticketId}";

                var qrcode = new QRCode(document.getElementById("qrCodeContainer"), {
                    text: qrCodeUrl,
                    width: 128,
                    height: 128,
                    colorDark : "#000000",
                    colorLight : "#ffffff",
                    correctLevel : QRCode.CorrectLevel.H
                });

            script.
                document.addEventListener('DOMContentLoaded', function () {
                    const footer = document.querySelector('.ticket-footer');
                    const timestamp = footer.getAttribute('data-timestamp');
                    const date = new Date(timestamp);

                    const options = {
                        weekday: 'long',
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit',
                        second: '2-digit',
                    };

                    const formattedDate = date.toLocaleDateString('hr-HR', options);

                    footer.querySelector('p').innerHTML += ` ${formattedDate}`;
                });