doctype html
html(lang="en")
    head

        title Info o ulaznici

        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="icon" href="/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="/css/style.css")
        script(src="/js/qrcode.min.js" type="text/javascript")

    body
        .header
            if user
                div.profile-container
                    img.profile-image(src=JSON.parse(user).picture alt="Profile Picture")
                    div.profile-details
                        p.profile-name #{JSON.parse(user).name}
                        p.profile-email #{JSON.parse(user).email}
                        p.profile-sub #{JSON.parse(user).sub}
                button.logout-btn(onclick="location.href='/logout'") Logout
            else
                .user-info Niste prijavljeni
                button.action-btn(onclick="location.href='/login'") Prijava

        a(href="/" style="text-decoration: none; color: black;") 
            h1 e-Ulaznice
        h1 Informacije o ulaznici

        if user
            div.ticket
                div.qr-code(id="qrCodeContainer")

                div.ticket-details
                    p
                        | Ime: #{firstName} #{lastName}
                    p
                        | VATIN: #{vatin}
                    p
                        | Stvorena: #{timestamp}

            script.
                var qrCodeUrl = "#{baseUrl}/ticket/#{ticketId}";

                var qrcode = new QRCode(document.getElementById("qrCodeContainer"), {
                    text: qrCodeUrl,
                    width: 128,
                    height: 128,
                    colorDark : "#000000",
                    colorLight : "#ffffff",
                    correctLevel : QRCode.CorrectLevel.H
                });
